@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.026 102.212);
  --color-base-200: oklch(97% 0.071 103.193);
  --color-base-300: oklch(94% 0.129 101.54);
  --color-base-content: oklch(42% 0.095 57.708);
  --color-primary: oklch(71% 0.202 349.761);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(64% 0.222 41.116);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(66% 0.179 58.318);
  --color-accent-content: oklch(98% 0.022 95.277);
  --color-neutral: oklch(42% 0.095 57.708);
  --color-neutral-content: oklch(98% 0.026 102.212);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}